# Supa-rs Example Environment Configuration
# Rename me to .env and input your specific credentials below!

SUPARUST_PORT=3000
SUPARUST_DB_DATA_DIR=./data/postgres
SUPARUST_STORAGE_ROOT=./data/storage

# Logging
SUPARUST_LOG_LEVEL=info    # trace | debug | info | warn | error
SUPARUST_LOG_FORMAT=pretty  # pretty | json

# Your custom 32+ char Secret and generated JSON Web Tokens
SUPARUST_JWT_SECRET="your-super-secret-jwt-key-min-32-chars"
SUPARUST_ANON_KEY="your-anon-key-here"
SUPARUST_SERVICE_KEY="your-service-key-here"
